body {
	background: yellow;
}

#full-screen-background-image {
	height: auto;
	left: 260px;
	min-height: 26%;
	min-width: 800px;
	position: fixed;
	top: 0;
	width: 39%;
	z-index: -999;
}

#wrapper {
	color: #333333;
	left: 640px;
	margin-bottom: 0;
	margin-right: auto;
	min-height: 200px;
	position: relative;
	top: 152px;
	width: 274px;
}

input {
	height: 25px;
	width: 278px;
}

.confirm {
	background: url('../images/confirm.png');
	width: 321px;
	height: 227px;
	margin-left: 185px;
	margin-top: 18px;
}

.success {
	background: url('../images/success.png');
	width: 249px;
	height: 177px;
	margin-left: 185px;
	margin-top: 18px;
}

.content-img {
	margin: auto;
}